<!-- Add your content of head and header -->
{{> metaHeader title='Urszula Kubisiowska | Psychoterapia' description="Psychoterapia w Krakowie."}} {{> header }}

<!-- Add your site or app content here -->
<div class="background-image-container white-text-container" style="background-image: url('./assets/images/cover.jpg')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1>Urszula Kubisiowska</h1>
                <p class="subheader">Psychoterapia</p>
                <a href="#contact-section-container" class="btn btn-primary btn-lg anchor-link" title="">Umów spotkanie</a>
            </div>
        </div>
    </div>
</div>

<div class="section-container">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-12 section-container-spacer">
                <h2 class="text-center">Jak mogę Ci pomóc</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-4">
                <div class="fa-container">
                    <i class="fa fa-heart-o fa-3x" aria-hidden="true"></i>
                </div>
                <h3 class="text-center">Psychoterapia indywidualna</h3>
                <p>Pierwsze 3 spotkania służą wzajemnemu poznaniu się, a także rozpoznaniu obszaru problemu pacjenta. Po zebraniu wywiadu, w przypadku gdy terapia okaże się konieczna, wspólnie decydujemy jaki będzie jej charakter:
                    <ul>
                        <li>krótkoterminowy</li>
                        <li>długoterminowy</li>
                        <li>rozmowa psychoedukacyjna</li>
                    </ul>
                </p>
            </div>

            <div class="col-xs-12 col-md-4">
                <div class="fa-container">
                    <i class="fa fa-comments-o fa-3x" aria-hidden="true"></i>
                </div>
                <h3 class="text-center">Sesje stacjonarne i online</h3>
                <p>Twój komfort i dobre samopoczucie jest najważniejsze, dlatego to Ty sam decydujesz o formie sesji. Jeśli lubisz bezpośredni kontakt z rozmówcą, zapraszam Cię do mojego gabinetu. Natomiast jeśli bardziej swobodnie będziesz się czuł w domowym zaciszu, spotkajmy się online.</p>
            </div>
            <div class="col-xs-12 col-md-4">
                <div class="fa-container">
                    <i class="fa fa-globe fa-3x" aria-hidden="true"></i>
                </div>
                <h3 class="text-center">Język polski lub angielski </h3>
                <p> W znalezieniu właściwej drogi i powrocie do siebie rozmowa jest podstawą, a język nie może stanowić bariery. Właśnie dlatego oferuję Ci moje wsparcie w języku polskim lub angielskim.</p>
            </div>
        </div>
    </div>
</div>

<div class="section-container section-half-background-image-container">
    <div class="image-column" style="background-image: url('./assets/images/urszula.jpeg')"></div>
    <div class="container">
        <div class="row">
            <div class="section-label reveal">
                <p></p>
            </div>
            <div class="col-md-6 col-md-offset-6 text-column">
                <h2>Urszula Kubisiowska</h2>
                <h3>O mnie</h3>
                <p>Jestem terapeutą w trakcie szkolenia w Szkole Psychoterapeutów Instytutu  Gestalt w Krakowie, akredytowanym przez EAP <i>(Europejskie Stowarzyszenie Psychoterapii)</i>.</p>
                <p>
                    Jestem osobą dojrzałą, pedagogiem z 20-letnim dośwadzczeniem, mamą trójki dzieci. Pracuję pod stałą superwizją, zgodnie z zasadami EAGT <i>(European Association for Gestalt Therapy)</i> i Kodeksu Etycznego Polskiego Towarzystwa Psychoterapii Gestalt, w języku polskim i angielskim.
                </p> 
                <p>Jeśli:
                    <ul>
                        <li>Zmagasz się z  lękami, z którymi sam nie umiesz sobie poradzić</li>
                        <li>Przeżywasz trudności w relacjach z samym sobą bądź innymi</li>
                        <li>Masz poczucie konfliktu wewnętrznego</li>
                        <li>Nie radzisz sobie z własnymi emocjami</li>
                    </ul>
                    A także:
                    <ul>
                        <li>Chcesz zadbać o swój rozwój</li>
                        <li>Pragniesz lepiej poznać siebie, swój potencjał i możliwości</li>
                        <li>Masz ochototę poszerzyć świadomość samego siebie</li>
                    </ul>
                Zapraszam do kontaktu!
                </p>              

            </div>
        </div>
    </div>
</div>



<div class="section-container">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-12 section-container-spacer">
                <h2 class="text-center">Cennik</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-6">
                <img src="./assets/images/konsultacja.png" alt="" class="img-responsive img-price">
            </div>

            <div class="col-xs-12 col-md-6">
                <img src="./assets/images/psychoterapia.png" alt="" class="img-responsive img-price">
            </div>            
        </div>
    </div>
</div>

<div class="">
    <div class='container-fluid'>
        <div class="row map-container">
            <div id="map"></div>
            <div class="col-xs-10 col-md-4 contact-block-container reveal">
                <div class="row">
                    <div class="col-xs-12 col-sm-6">
                        <h3>Telefon</h3>
                        <p>+48 693 892 836</p>

                        <h3>Email</h3>
                        <p>ukubisiowska@gmail.com</p>

                    </div>

                    <div class="col-xs-12 col-sm-6">
                        <h3>Adres</h3>
                        <p>Kraków, Krowodrza</p>

                        <h3>Przyjmuję</h3>
                        <p>Pon-Pt 11:00-16:00</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="section-container" id="contact-section-container">
    <div class="container contact-form-container">
        <div class="row">
            <div class="col-xs-12 col-md-offset-2 col-md-8">
                <div class="section-container-spacer">
                    <h2 class="text-center">Umów spotkanie</h2>
                </div>
                <form method="POST" data-netlify="true">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" name="name" class="form-control" placeholder="Imię">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="email" name="email" class="form-control" placeholder="Email">
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <textarea name="message" class="form-control" rows="3" placeholder="Twoja wiadomość"></textarea>
                    </div>                   

                    <button type="submit" class="btn btn-primary">Wyślij</button>                    
                </form>
            </div>
        </div>
    </div>
</div>


<script>
document.addEventListener("DOMContentLoaded", function (event) {
    
  googleMapInit(); 
  scrollToAnchor();
  scrollRevelation('reveal');
});
</script>

{{> footer }}


