<!-- Add your content of head and header -->
{{> metaHeader title='Urszula Kubisiowska | Psychoterapia' description="Psychoterapia w Krakowie."}} {{> header }}

<!-- Add your site or app content here -->
<div class="background-image-container white-text-container" style="background-image: url('./assets/images/cover.jpg')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1>Urszula Kubisiowska</h1>
                <p class="subheader">Psychoterapia</p>
                <a href="#contact-section-container" class="btn btn-primary btn-lg anchor-link" title="">Umów spotkanie</a>
            </div>
        </div>
    </div>
</div>

<div class="section-container">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-12 section-container-spacer">
                <h2 class="text-center">Jak mogę Ci pomóc?</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-12 section-container-spacer">
                <div class="fa-container">
                    <i class="fa fa-heart-o fa-3x" aria-hidden="true"></i>
                </div>
                <h3 class="text-center">Psychoterapia indywidualna</h3>
                <p>Pierwsze 3 spotkania służą wzajemnemu poznaniu się. Dzięki nim ja - terapeuta, mam okazję zorientować się w Twojej sytuacji życiowej  oraz  w trudnościach z jakimi przychodzisz do gabinetu. Dla Ciebie natomiast jest to możliwość rozeznania się czy terapia jest Ci potrzebna oraz czy moja osoba i podejście, w którym pracuję są dla Ciebie odpowiednie.</p> 
                <p>Po trzech spotkaniach następuje właściwa psychoterapia. Podczas cotygodniowych sesji psychoterapeutycznych z moją pomocą masz możliwość rozpoznania własnych emocji i potrzeb. Jest to czas na znalezienie satysfakcjonujących Cię rozwiązań czy odkrycie właściwych dla Ciebie ścieżek wyjścia z trudnych sytuacji i kryzysów. Psychoterapia pomaga wprowadzić zmiany w codziennym funkcjonowaniu, przekształcając Twoje podejście do pojawiających się w życiu okoliczności i osób.</p>
                <p>Każda psychoterapia ma własne tempo i dynamikę procesu, podczas którego oferuję Ci pełną obecność, troskę i autentyczny kontakt, by wspólne działanie przyniosło Ci powrót do równowagi wewnętrznej.</p>
            </div>

            <div class="col-xs-12 col-md-12 section-container-spacer">
                <div class="fa-container">
                    <i class="fa fa-comments-o fa-3x" aria-hidden="true"></i>
                </div>
                <h3 class="text-center">Sesje stacjonarne i online</h3>
                <p>Twój komfort i dobre samopoczucie są najważniejsze, dlatego to Ty sam decydujesz o formie sesji. Jeśli wolisz bezpośredni kontakt z rozmówcą, zapraszam Cię do mojego gabinetu. Jeśli swobodniej będziesz się czuć w domowym zaciszu, spotkajmy się online.</p>
            </div>
            <div class="col-xs-12 col-md-12 section-container-spacer">
                <div class="fa-container">
                    <i class="fa fa-globe fa-3x" aria-hidden="true"></i>
                </div>
                <h3 class="text-center">Język polski lub angielski </h3>
                <p>W znalezieniu właściwej drogi i powrocie do siebie rozmowa jest podstawą. Gdyby język polski stanowił barierę, proponuję wsparcie w języku angielskim.</p>
            </div>
        </div>
    </div>
</div>

<div class="section-container section-half-background-image-container">
    <div class="image-column" style="background-image: url('./assets/images/urszula.jpeg'); border-radius:20px"></div>
    <div class="container">
        <div class="row">
            <div class="section-label reveal">
                <p></p>
            </div>
            <div class="col-md-6 col-md-offset-6 text-column">
                <h2>Urszula Kubisiowska</h2>
                <h3>O mnie</h3>
                <p>Jestem terapeutą w trakcie szkolenia w Szkole Psychoterapeutów Instytutu Gestalt w Krakowie, akredytowanym przez EAP <i>(Europejskie Stowarzyszenie Psychoterapii)</i>, systematycznie poszerzam swoją wiedzę i umiejętności praktyczne poprzez uczestnictwo w profesjonalnych szkoleniach i warsztatach.</p>
                <p>Jestem, pedagogiem z 20-letnim doświadczeniem, mamą trójki dzieci. Pracuję pod stałą superwizją, zgodnie z zasadami EAGT <i>(European Association for Gestalt Therapy)</i> i Kodeksu Etycznego Polskiego Towarzystwa Psychoterapii Gestalt, w języku polskim i angielskim.</p> 
                <p>Jeśli:
                    <ul>
                        <li>Zmagasz się z  lękami, z którymi sam nie umiesz sobie poradzić</li>
                        <li>Przeżywasz trudności w relacjach z samym sobą bądź innymi</li>
                        <li>Masz poczucie konfliktu wewnętrznego</li>
                        <li>Nie radzisz sobie z własnymi emocjami</li>
                    </ul>
                    A także:
                    <ul>
                        <li>Chcesz zadbać o swój rozwój</li>
                        <li>Pragniesz lepiej poznać siebie, swój potencjał i możliwości</li>
                        <li>Masz chęć poszerzyć świadomość samego siebie</li>
                    </ul>
                Zapraszam Cię do kontaktu!
                </p>        
                <a href="#contact-section-container" class="btn btn-primary btn-lg anchor-link" title="">Umów spotkanie</a>
            </div>
        </div>
    </div>
</div>



<div class="section-container">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-12 section-container-spacer">
                <h2 class="text-center">Cennik</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-6">
                <img src="./assets/images/konsultacja.png" alt="" class="img-responsive img-price">
            </div>

            <div class="col-xs-12 col-md-6">
                <img src="./assets/images/psychoterapia.png" alt="" class="img-responsive img-price">
            </div>            
        </div>
    </div>
</div>

<div class="">
    <div class='container-fluid'>
        <div class="row map-container">
            {{!-- <img src="assets/images/map.png" alt="map"> --}}
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2557.835167014847!2d19.870934315610757!3d50.1268063185131!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x471659e0aa5c5371%3A0x604d2b851d48aa4f!2sPolna%2021%2C%2032-085%20Modlnica!5e0!3m2!1spl!2spl!4v1626112871764!5m2!1spl!2spl" width="100%" height="450" style="border:0; filter:grayscale(70%);" allowfullscreen="" loading="lazy"></iframe>
            <div class="col-xs-10 col-md-4 contact-block-container reveal">
                <div class="row">
                    <div class="col-xs-12 col-sm-6">
                        <h3>Telefon</h3>
                        <p>+48 693 892 836</p>

                        <h3>Email</h3>
                        <p>ukubisiowska@gmail.com</p>

                    </div>

                    <div class="col-xs-12 col-sm-6">
                        <h3>Adres</h3>
                        <p>Modlnica, ul. Polna 21</p>

                        <h3>Przyjmuję</h3>
                        <p>Pn-Pt 11:00-16:00</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="section-container" id="contact-section-container">
    <div class="container contact-form-container">
        <div class="row">
            <div class="col-xs-12 col-md-offset-2 col-md-8">
                <div class="section-container-spacer">
                    <h2 class="text-center">Umów spotkanie</h2>
                </div>
                <a id="zl-url" class="zl-url" href="https://www.znanylekarz.pl/urszula-kubisiowska/psychoterapeuta/modlniczka" rel="nofollow" data-zlw-doctor="urszula-kubisiowska" data-zlw-type="big_with_calendar" data-zlw-opinion="false" data-zlw-hide-branding="true">Urszula Kubisiowska - ZnanyLekarz.pl</a><script>!function($_x,_s,id){var js,fjs=$_x.getElementsByTagName(_s)[0];if(!$_x.getElementById(id)){js = $_x.createElement(_s);js.id = id;js.src = "//platform.docplanner.com/js/widget.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","zl-widget-s");</script>
                {{!-- <form method="POST" data-netlify="true">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" name="name" class="form-control" placeholder="Imię">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="email" name="email" class="form-control" placeholder="Email">
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <textarea name="message" class="form-control" rows="3" placeholder="Twoja wiadomość"></textarea>
                    </div>                   

                    <button type="submit" class="btn btn-primary">Wyślij</button>                    
                </form> --}}
            </div>
        </div>
    </div>
</div>


<script>
document.addEventListener("DOMContentLoaded", function (event) {
    
  googleMapInit(); 
  scrollToAnchor();
  scrollRevelation('reveal');
});
</script>

{{> footer }}


